html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html,
body {
  height: 100%;
  margin: 0;
  line-height: 1.5;
  color: #121212;
}
textarea,
input,
button {
  font-size: 1rem;
  font-family: inherit;
  border: none;
  border-radius: 8px;
  padding: 0.5rem 0.75rem;
  box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.2), 0 1px 2px hsla(0, 0%, 0%, 0.2);
  background-color: white;
  line-height: 1.5;
  margin: 0;
}
button {
  color: #3992ff;
  font-weight: 500;
}

textarea:hover,
input:hover,
button:hover {
  box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.6), 0 1px 2px hsla(0, 0%, 0%, 0.2);
}

button:active {
  box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.4);
  transform: translateY(1px);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

#root {
  display: flex;
  height: 100%;
  width: 100%;
}

#sidebar {
  width: 22rem;
  background-color: #f7f7f7;
  border-right: solid 1px #e3e3e3;
  display: flex;
  flex-direction: column;
}

#sidebar > * {
  padding-left: 2rem;
  padding-right: 2rem;
}

#sidebar h1 {
  font-size: 1rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 1rem 2rem;
  border-top: 1px solid #e3e3e3;
  order: 1;
  line-height: 1;
}

#sidebar > div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #e3e3e3;
}

#sidebar > div form {
  position: relative;
}

#sidebar nav {
  flex: 1;
  overflow: auto;
  padding-top: 1rem;
}

#sidebar nav a span {
  float: right;
  color: #eeb004;
}
#sidebar nav a.active span {
  color: inherit;
}

i {
  color: #818181;
}
#sidebar nav .active i {
  color: inherit;
}

#sidebar ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

#sidebar li {
  margin: 0.25rem 0;
}

#sidebar nav a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;

  white-space: pre;
  padding: 0.5rem;
  border-radius: 8px;
  color: inherit;
  text-decoration: none;
  gap: 1rem;
}

#sidebar nav a:hover {
  background: #e3e3e3;
}

#sidebar nav a.active {
  background: hsl(224, 98%, 58%);
  color: white;
}

#sidebar nav a.pending {
  color: hsl(224, 98%, 58%);
}

/* MainPage */

#MainPage-root {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.mainPage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
}

.ticket-submit-form {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.ticket-submit-form label {
  margin-bottom: 1em;
  text-align: left;
}

.ticket-submit-form span {
  font-weight: bold;
  display: block;
  margin-bottom: 0.5em;
}

.ticket-submit-form input,
.ticket-submit-form textarea {
  width: 100%;
  padding: 0.5em;
  margin-bottom: 1em;
}

.ticket-submit-form button {
  padding: 0.5em;
  font-size: 1em;
}

.ticket-submit-form button:hover {
  background-color: #0056b3;
  color: white;
}

#detail {
  flex: 1;
  padding: 2rem 4rem;
  width: 100%;
}

#detail.loading {
  opacity: 0.25;
  transition: opacity 200ms;
  transition-delay: 200ms;
}

/* Ticket */

#ticket {
  max-width: 40rem;
  display: flex;
  flex-direction: column;
}

#ticket h1 {
  font-size: 2rem;
  font-weight: 700;
  margin: 0;
  line-height: 1.2;
}

#ticket h1 + p {
  margin-top: 1rem;
}

#ticket h1 + p + p {
  white-space: break-spaces;
}

#ticket h1:focus {
  outline: none;
  color: hsl(224, 98%, 58%);
}

#ticket h1 ~ div {
  display: flex;
  gap: 0.5rem;
  margin: 1rem 0;
}

#ticket .button-group {
  justify-content: right;
}

.edit-button:hover {
  background-color: #0056b3;
}

.hr-divider {
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
  margin: 1em 0;
}

.notification-container {
  height: 1rem;
  display: flex;
  align-items: center;
  margin-bottom: 0.2rem;
}

.respond-button {
  color: #007bff;
  border: 2px solid transparent;
  transition: border-color 0.3s ease;
}
.respond-button:hover {
  border-color: #0056b3;
}

.status-select {
  font-size: 1em;
  padding: 0.5em;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  margin-bottom: 0.5em;
  height: 2.5em;
}

.delete-button {
  color: #f44250;
  border: 2px solid transparent;
  transition: border-color 0.3s ease;
}

.delete-button:hover {
  border-color: #880512;
}

.bold-label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.answered-field {
  background-color: #f0f0f0;
  padding: 0.5rem;
  border-radius: 4px;
  margin-top: 0;
}

/* Edit Page */

#edit-ticket-form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 100%;
}

#edit-ticket-form h1 {
  font-size: 1.5em;
  margin-bottom: 1em;
}

#edit-ticket-form p {
  margin: 0;
}

#edit-ticket-form p span {
  font-weight: bold;
  display: block;
  margin-bottom: 0.5em;
}

#edit-ticket-form label span {
  font-weight: bold;
  display: block;
  margin-bottom: 0.5em;
}

#edit-ticket-form label select {
  font-size: 1em;
  padding: 0.5em;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  margin-bottom: 0.5em;
  height: 2.5em;
}

#edit-ticket-form textarea {
  width: 100%;
  padding: 0.5em;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  resize: vertical;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.button-group {
  display: flex;
  gap: 1em;
}

#edit-ticket-form button {
  padding: 0.5em 1em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
  color: #007bff;
  background-color: white;
  width: 100%;
}

#edit-ticket-form button:hover {
  background-color: #0056b3;
}

.cancel-button-form {
  display: flex;
  justify-content: flex-start;
}

#edit-ticket-form-cancel button.cancel-button {
  color: #b72c3a;
  background-color: white;
  width: 100%;
}

#edit-ticket-form-cancel button.cancel-button:hover {
  background-color: #880512;
}

/* Response Page */
#response-form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 100%;
}

#response-form h1 {
  font-size: 1.5em;
  margin-bottom: 1em;
}

#response-form p {
  margin: 0;
}

#response-form p span {
  font-weight: bold;
  display: block;
  margin-bottom: 0.5em;
}

#response-form textarea {
  width: 100%;
  padding: 0.5em;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  resize: vertical;
}

#response-form button {
  padding: 0.5em 1em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
  color: #007bff;
  background-color: white;
}

#response-form button:hover {
  background-color: #0056b3;
}

#response-form button.cancel-button {
  color: #b72c3a;
  background-color: white;
}

#response-form button.cancel-button:hover {
  background-color: #880512;
}

#error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

/* Comments Section */

#comments-section {
  margin-top: 1em;
}

#comments-section .comment-button-form {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.comment-button-form > div {
  display: flex;
  flex-direction: column;
}

.comment-button-form button {
  align-self: flex-end;
  border: 2px solid transparent;
  transition: border-color 0.3s ease;
}

.comment-button-form button:hover {
  border-color: #0056b3;
}

#comments-section .comment-text-field {
  width: 100%;
  margin-bottom: 1em;
}

#comments-section .comment-name-field {
  align-items: right;
}

#comments-section .comment-button-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5em;
}

.comments-list {
  margin-top: 1em;
}

.comment {
  border-bottom: 1px solid #eee;
  padding: 0.5em 0;
}

/* Mobile-Friendly Settings */

@media (max-width: 768px) {
  #MainPage-root {
    padding: 1em;
    box-sizing: border-box;
  }

  #sidebar {
    width: 20%;
    height: 100vh;
    min-width: 80px;
    border-right: none;
    border-bottom: solid 1px #e3e3e3;
    overflow-y: auto;
  }

  #sidebar > * {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  #sidebar h1 {
    padding: 0.5rem;
    font-size: 0.875rem;
  }

  #sidebar > div {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  #sidebar button {
    font-size: 0.8rem;
    padding: 0.4rem 0.6rem;
  }

  #sidebar nav {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  #sidebar nav a {
    font-size: 0.8rem;
    white-space: normal;
    word-wrap: break-word;
  }

  #detail {
    padding: 1rem;
    flex: 1;
    overflow-y: auto;
    height: 100vh;
  }

  #ticket {
    width: 100%;
    padding: 0;
  }

  .ticket-submit-form,
  #edit-ticket-form,
  #response-form {
    width: 100%;
    padding: 0;
  }

  #comments-section {
    width: 100%;
  }

  .comments-header {
    text-align: center;
    margin-top: 0;
    margin-bottom: 1.5em;
  }

  .comment-text-field {
    width: 100%;
    margin-bottom: 0.5rem;
  }

  .comment-button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
  }
  .comment-name-field {
    flex-grow: 1;
    width: 100%;
    margin-bottom: 0;
  }
}
